



#header {
height: 30px;
width: 980px;
background-color: #222;
padding-top: 10px;
width:100%;
margin-top: -10px;
margin-left: -10px;
}

#topblock {
	position: relative;
}

img {
	display: block;
	height: 95px;
	width: 275px;
	padding-top: 112px;
	margin: auto;
}

#searchbar {
	display:block;
	height:27px;
	width:570px;
	border:1px solid #dcdcdc;
	margin:auto;
	margin-top: 10px;
}

#button {
	text-align:center;
}

#button1 {
	margin-top: 20px;
	display: inline-block;
	font-size: 11px;
	border-radius:2px;
	background-color: #F6F6F6;
	border:1px solid #dcdcdc;
	font-color: #444;
	font-style: bold;
	font-family: Arial,sans-serif;
	padding: 0px 6px;
	text-align: center;
	vertical-align: top;
	
}

#button2 {
	margin-top: 20px;
	border-radius:2px;
	font-size: 11px;
	display: inline-block;
	background-color: #F6F6F6;
	border:1px solid #dcdcdc;
	font-color: #444;
	font-style: bold;
	font-family:Arial,sans-serif;
	padding: 0px 10px;
	text-align: center;
	vertical-align:top;
	
}

#button2:hover {
	border:1px dashed #dcdcdc;
}

a {
font-family: arial,sans-serif;
font-size: 13px;
color: grey;
border: 1px;
margin: 9px;
margin-top: 10px;
margin-left: 10px;
}

a:link {
	text-decoration:none;
}
a:hover {
	color: white;
	text-decoration:none;
}



